.u-flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.u-flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.u-flex-start {
  display: flex;
  justify-content: start;
  align-items: center;
  text-align: start;
}
.u-w-full {
  width: 100%;
}
.u-btn {
  outline: 0;
  border: 0;
}

.u-space-y {
}

.password-generator-container {
  padding: 0 1rem;
}
.password-copy {
}

.range-container {
}
.options {
  display: grid;
  grid-template-columns: auto auto;
}
